setuptools>=30.3.0
setuptools_scm
click
asyncpg
aiofile
toml
uvloop
dacite
pytest
pytest-cov
pytest-xdist
twine
sphinxcontrib-spelling
pyenchant
docutils
check-manifest
flake8
readme-renderer
pygments
isort
